.container{
    padding: 20px 0px 0px;
}
.rowContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    padding: 12px 20px;
    &:hover{
        background-color: rgba(0, 0, 0, 0.05);
    }
}

.rowTitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: #000000;
}