@import "../../common.scss";

.security-content-import{
    display: flex;
    flex-direction: row;
    padding: 16px 0px;
    // margin: 0px 30px;
    justify-content: space-between;
    border-bottom: 1px solid #eeeeee;
    align-items: center;
}
.account-info-import {
    padding: 0px 30px;
    margin-top: 0px;
}