@import "../../common.scss";
.stacking-list-page {
  display: flex;
  flex-direction: column;
  .page-content {
    background-color: #ffffff;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  .page-input-container{
    padding-bottom: 12px;
  }
  .nodes-container {
    flex: 1;
    margin-bottom: 70px;
    overflow: auto;
    .node-list {
      padding: 30px;
      padding-top: 20px;
    }
  }
  .node-add-container {
    padding: 5px 5px;
    margin-right: 15px;
  }
  .node-add-icon {
    width: 16px;
    height: 16px;
  }
  .add-node-menu-item {
    word-break: keep-all;
    white-space: nowrap;
  }
  .link-con {
    text-align: center;
  }
  .manual-add-link {
    font-family: HelveticaNeue;
    font-size: $font-size-content;
    color: #7055ff;
    letter-spacing: 0;
    line-height: 16px;
    margin: 24px auto 0;
    display: inline-block;
    text-align: justify;
    .double-arrow {
      width: 14px;
      margin-left: 3px;
    }
  }
  .menu-pos {
    position: absolute;
    top: 50px;
    right: 30px;
    .menu-con {
      position: relative;
      background: #666666;
      border-radius: 10px;
      font-family: HelveticaNeue;
      font-size: 14px;
      color: #ffffff;
      line-height: 14px;
      &:before {
        position: absolute;
        top: -10px;
        right: 10px;
        content: " ";
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-bottom: 10px solid #666666;
      }
      .add-node-menu-item {
        display: block;
        padding: 11px;
        border-bottom: 1px solid #777777;
        text-underline: none;
        text-decoration: none;
        color: white;
        cursor: pointer;
        &:last-child {
          border-bottom: 0;
        }
      }
    }
  }
}
