.contentClassName {
  padding: 10px 0px 0px;
}

.inputCon {

  position: fixed;
  width: 100%;
  background-color: white;
  padding: 0 20px 10px;
  .customInputContainer {
    background: rgba(0, 0, 0, 0.05);
    border: 0.5px solid transparent;
  }

  .customInput {
    background-color: transparent;
    padding: 0 8px;
    border: none;
  }
  .customInput::-webkit-input-placeholder {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.3);
  }
}

.listContainer {
  margin-top: 58px;
  padding: 0 20px;
  overflow: auto;
}
.rowContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.rowRight {
  .numberTitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align:end;
    color: #000000;
  }
  .numberContent {
    color: rgba(0, 0, 0, 1);
  }
}
.selectedBorder{
  border: 0.5px solid #594af1 !important;
}
.nodeItemContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f9fafc;
  border: 0.5px solid rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  min-height: 60px;
  padding: 10px 10px;
  margin-top: 10px;
  flex: 1;
  cursor: pointer;
  &:hover {
    border: 0.5px solid #594af1;
  }
}

.rowleft{
  display: flex;
  align-items: center;
  .nodeName {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
  }
 
}
.nodeAddress {
  font-size: 12px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.5);
}
.rightTxt{
  text-align: end;
}
.nodeInfoCon{
  margin-left: 4px;
  max-width: 146px;
}
.manualAddContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  margin: 20px 0px;
  
  .manualAddContent{
    text-align: center;
    width: fit-content;
    color: #594af1;;
    cursor: pointer;
  }
  .manualSubmit{
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    padding: 4px 0px;
    text-align: center;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
    margin-top: 6px;
    text-decoration:none;
  }
}
.bottomContainer {
  padding: 12px 38px 20px;
  position: fixed;
  bottom: 0;
  width: calc(100%);
  background-color: white;
}

.iconCon{
  width: 30px;
  height: 30px;

  .holderIconCon{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);

  }
  .nodeIcon{
    width: 30px;
    height: 30px;
    object-fit: scale-down;
    border-radius: 100%;
  }
}
