@import "../../common.scss";
.setting-config-container { 
    background: #ffffff;
    box-shadow: 0 12px 30px 0 rgba(37, 34, 117, 0.08);
    border-radius: 10px;
    margin: 20px 30px 0px;
}
.setting-config-item {
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 12px 14px 12px 20px;
}
.config-icon {
    height: 28px;
}
.config-name {
    margin: 0;
    margin-left: 12px;
    font-size: $font-size-content;
    color: #01000d;
    line-height: 22px;
}

.tab-common-title {
    margin: 0px;
    height: 53px;
    background: #6b5dfb;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: HelveticaNeue-Medium;
    font-size: $font-size-title-small;
}
.setting-config-item-left {
    display: flex;
    align-items: center;
}
.setting-config-about {
    margin: 30px 30px;
}
.config-arrow {
    width: 7.7px;
    height: 13.1px;
}
.setting-outter-container{
    overflow-y: scroll;
    height: 500px;
}