.App {
  -webkit-user-drag: none;
  *,
  *::before,
  *::after {
    box-sizing: border-box; // 1
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 600px;
}
.App-header-full {
  height: auto !important;
  width: auto !important;
  min-height: 600px;
  min-width: 750px;
}
body {
  margin: 0;

  --mainBlue: #594af1;
  --mainBlack: rgba(0, 0, 0, 0.85);
  --secondaryRed: #d65a5a;
  --secondaryGreen: #0db27c;
  --secondaryYellow: #e4b200;

  --white: rgba(255, 255, 255, 1);
  --whiteLilac: rgba(249, 250, 252, 1);
  --mediumGray: rgba(0, 0, 0, 0.1);
  --nobelGray: rgba(0, 0, 0, 0.3);
  --mediumBlack: rgba(0, 0, 0, 0.5);
  --mineBlack: rgba(0, 0, 0, 0.85);
}
p {
  margin: 0;
  padding: 0;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar {
  display: none;
}
