@import "../../common.scss";
.tab_container {
}

.tab_title_wrap {
  width: 100%;
  display: flex;
  position: absolute;
  bottom: 0%;
  margin: 0;
  padding: 0;
  background: #ffffff;

  box-shadow: 0 -15px 25px 0 rgba(0, 0, 0, 0.05);
  justify-content: space-between;
}
.tab_content_wrap {
  margin: 0;
  padding: 0;
}
.tab_title {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: $font-size-desc-small;
  -webkit-transform: scale(0.85);
  width: 50px;
  margin: 0 30px;
}
.hide {
  display: none;
}
.show {
  display: block;
}
ul li {
  list-style-type: none;
}
.home-unactive {
  color: rgba(137, 141, 162, 1);
}
.home-active {
  color: rgba(107, 93, 251, 1);
}
.home-tab-img {
  height: 20px;
  margin-bottom: 5px;
}
