{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ],
    [
      "module-resolver",
      {
        "alias": {
          "@": "./src" // Adjust the path as necessary to point to where your aliased paths start
        }
      }
    ]
  ]
}
