.title_1 {
  
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #000000;

  margin: 10px 0 0;
}

.content {
  
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--mediumBlack);
  margin: 20px 0 0;
}

.rowLine {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  cursor: pointer;
}
.rowContent {
  font-size: 14px;
  line-height: 17px;
  color: var(--mediumBlack);
  margin: 0 0 0 10px;
}