@import "../../common.scss";

.import-keypair-container {
    // margin: 20px;
    margin-top: 10px;
    padding: 0;
    border: 0;
}
.keypair-input-container{
    margin: 0px 30px;
}
.import-title-keystore{
    margin: 0;
    font-size: $font-size-content;
    color: #b9b9b9;
    letter-spacing: 0;
    hyphens: auto; 
}
.keypair-input-container-desc{
    margin: 20px 30px 0px;
}
