.title {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    margin: 0;
}
.textAreaContainer {
    margin-top: 20px;
    margin-bottom: 20px;
}

.desc {
    font-weight: 500;
    font-size: 12px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.3);
    margin-top: 10px;
}
.hold {
    flex: 1;
}

.bottomContainer {
    padding: 12px 18px 20px;
}