.contentClassName {
    padding: 0px 0px 100px;
}
.editBtn {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: rgba(89, 74, 241, 1);
    margin: 0 10px 0px 0px;
    cursor: pointer;
}

.innerContent {
    flex: 1;
    padding: 0px 20px;
}

.bottomContainer {
    position: absolute;
    padding: 12px 38px 20px;
    width: 100%;
    bottom: 0;
    background-color: white;
}

.networkTitleWrapper {
    margin: 10px 0px;
    display: flex;
    justify-content: center;
}
.nodeListTitle {
    font-weight: 400;
    font-size: 12px;
    color: #808080;
    padding: 0 10px;
    text-transform: capitalize;
    white-space:nowrap; 
}
.hrDotted {
    width: 100%;
    height: 0;
    border: 0.5px dashed #808080;
}
.rowContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.editMode {
    width: 296px;
    cursor: initial;
    &:hover {
        border: 0.5px solid rgba(0, 0, 0, 0.05);
    }
}
.disableEdit {
    opacity: 0.4;
}

.deleteIconContainer {
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    .deleteIcon {
        display: block;
    }
}

.modalDelete {
    color: #d65a5a;
}

.rowleft {
    width: 260px;
    display: flex;
}
