@import "../../common.scss";
.security-content-desc {
    margin: 0;
    font-size: $font-size-desc;
    color: #999999;
    margin-left: 34px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-box-orient: vertical;
}

.security-content-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 270px;
}
.security-item-arrow {
    width: 77.7px;
    height: 13.1px;
}
.network-item-container {
    display: flex;
    flex-direction: row;
    background: #ffffff;
    box-shadow: 0 4px 10px 0 rgba(37, 34, 117, 0.08);
    border-radius: 10px;
    padding: 0 20px;
    align-items: center;
    margin-top: 10px;
    position: relative;

    overflow: auto;
    min-height: 90px;
}
.network-delete-container {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 20px;
    width: 20px;
    border-top-right-radius: 10px;
}
.network-delete-container-none {
    display: none;
}
.network-item-delete {
    width: 16px;
    height: 18px;
    margin-top: 20px;
    &:hover {
        content: url("../../../assets/images/delete_hover.png");
    }
}
.network-item-delete-none {
    display: none;
}
.network-item-img-container {
    min-width: 20px;
    text-align: right;
}
.baseIconContainer{
    width: 16px;
    height: 16px;
    background: #5949FD;
    border-radius: 4px;
    

    display: flex;
    align-items: center;
    justify-content: center;
}
.editIconContainer{
    background: #5949FD;
    margin-bottom: 8px;
}
.deleteIconContainer{
    background: #F95051;
}
.networkEditContent {
    width: 10px;
}

.network-container {
    padding: 4px 30px 0px;
    height: 550px;
    overflow-y: scroll;
    padding-bottom: 90px;
}
.network-item-content {
    margin: 0;
    font-size: $font-size-content;
    color: #01000d;
    line-height: 20px;
    word-break: break-all;
    margin-right: 10px;
    margin-top: 6px;
}
.networkItemLeftCon {
    flex: 1;
    padding: 10px 0px;
}
.network-title {
    font-size: $font-size-content;
    color: #333333;
    letter-spacing: 0;
    line-height: $font-size-content;
}
.network-item-diff {
    padding-top: 20px;
}
.network-type {
    margin: 0px;
    font-size: $font-size-desc;
    color: #ffffff;
    background-color: #e4e4e4;
    border-radius: 2px;
    text-align: center;

    padding: 0 4px;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom-right-radius: 10px;
}
.networkTextArea {
    margin: 0px 30px 10px;
}

.networkAreaInput {
    width: 100%;
    resize: none;
    margin-top: 8px;
    padding: 10px 10px;
    word-break: break-all;
    font-size: $font-size-content;
    line-height: 20px;
    outline: none;

    border: 1px solid #cccccc;
    outline-color: rgba(109, 95, 254, 1);
    border-radius: 6px;
    caret-color: rgba(109, 95, 254, 1);
    color: #333333;
    &:focus {
        border: 1px solid #6d5ffe;
    }
}

.networkInputWrapper {
    width: 100%;
}
.networkBtnContainer {
    padding: 0 40px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.networkItemTitle {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    word-break: break-all;
    max-width: 230px;
    
    line-height: 20px;
}
.networkItemType {
    margin-left: 4px;
    background: #dddddd;
    border-radius: 20px;
    padding: 2px 6px;

    font-weight: 400;
    font-size: 10px;
    color: #ffffff;
}
.networkEditcontainer {
    padding: 4px 4px;
}
.networkEdit {
    margin: 0;
    font-size: $font-size-desc;
    color: #ffffff;

    padding: 2px 6px;
    border-radius: 4px;
}
.networkEditCommon {
    background: #6b5dfb;
    &:hover {
        background: #4f3efd;
    }
}

.networkEditing {
    background: white;
    color: #5949FD;
}
.addNetworkTip {
    margin: 10px 32px 4px;
    font-size: 14px;
    color: #f95051;
    line-height: 20px;
    text-align: left;
}