@import "../../common.scss";
.select-box {
  display: flex;
  align-items: center;
  .label {
    display: inline-block;
    padding-right: 8px;
    color: #333333;
  }
  .select {
    position: relative;
    .self-input {
      outline: none;
      width: 93px;
      box-sizing: border-box;
      margin: 0;
      list-style: none;
      height: 32px;
      display: flex;
      align-items: center;
      padding-left: 14px;
      color: rgba(0, 0, 0, 0.65);
      font-size: $font-size-desc;
      line-height: 1.5;
      background-color: #fff;
      background-image: none;
      border: 1px solid #d9d9d9;
      border-radius: 15px;
      transition: all 0.3s;
      overflow: visible;
    }
    .input-hover {
    }
    .select-arrow {
      width: 7px;
      height: 3.5px;
      color: #dddddd;
      position: absolute;
      right: 10px;
      top: 14px;
    }
    .down {
      transform: rotate(0);
      transition: 0.35s;
    }
    .up {
      transform: rotate(180deg);
      transition: 0.35s;
    }
    .options {
      width: 93px;
      box-sizing: border-box;
      position: absolute;
      top: 35px;
      right: 0;
      color: rgba(0, 0, 0, 0.65);
      font-size: $font-size-desc;
      background-color: #fff;
      background-image: none;
      border: 1px solid #d9d9d9;
      border-radius: 4px;
      cursor: pointer;
      transition: 0.35s;
      opacity: 1;
      box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.3);
      z-index: 102;
      .item {
        line-height: 20px;
        padding: 8px;
        &:hover {
          background: rgba(0, 0, 0, 0.1);
        }
      }
    }
    .options-hidden {
      opacity: 0;
      visibility: hidden;
    }
    input:-moz-placeholder,
    textarea:-moz-placeholder {
      color: #999999;
    }

    input:-ms-input-placeholder,
    textarea:-ms-input-placeholder {
      color: #999999;
    }

    input::-webkit-input-placeholder,
    textarea::-webkit-input-placeholder {
      color: #999999;
    }
  }
}
