.historyContainer {
    background: #ffffff;
    // height: 100%;
    .holderContainer {
        min-height: 288px;
    }
}

.explorerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 0.5px solid rgba(0, 0, 0, 0.1);
    padding: 20px 0px;

    .explorerContent {
        display: flex;
        align-items: center;
        justify-content: center;

        cursor: pointer;
    }
    .explorerTitle {
        font-size: 12px;
        line-height: 14px;
        text-align: right;
        color: #594af1;
        margin: 0px 6px 0;
    }
}
.txItemCon{
    cursor: pointer;
    overflow-y: hidden;
    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), #f9fafc;
    }
}

.pendingCls {
    padding: 0px 0px;
    background-color: #f9fafc;
    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), #f9fafc;
    }
}
.dividedLine{
    height: 0.5px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}
.paddingLine{
    width: calc(100% - 40px);
    margin: 0 auto;
}
.itemContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;

    .itemLeftContainer {
        display: flex;
        align-items: center;
        .itemAccount {
            margin-left: 8px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        .scamTag{
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            color: #D65A5A;

            border: 1px solid #D65A5A;
            border-radius: 2px;
            margin-left: 4px;
        }
        .itemAccountAddress {
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            color: #000000;
            margin: 0;
        }
        .itemAccountInfo {
            font-size: 12px;
            line-height: 14px;
            text-align: center;
            color: rgba(0, 0, 0, 0.5);

            margin: 2px 0 0;
        }
    }
    .itemRightContainer {
        display: flex;
        flex-direction: column;
        align-items: end;
        .itemAmount {
            font-size: 16px;
            line-height: 19px;
            text-align: right;
            color: #000000;
            margin: 0;
            font-weight: 500;
        }
        .itemStatus {
            margin-top: 6px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 1.5px 5px;
            border-radius: 4px;

            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            text-align: center;
            color: #e4b200;
        }

        .itemStatus_Success {
            background: rgba(13, 178, 124, 0.1);
            color: #0db27c;
        }
        .itemStatus_Failed {
            background: rgba(214, 90, 90, 0.1);
            color: #d65a5a;
        }
        .itemStatus_Pending {
            background: rgba(228, 178, 0, 0.1);
            color: #e4b200;
        }
    }
}
.pendingContent{
    padding: 10px 20px 4px;
}
.speedBtnGroup{
    display: flex;
    margin-left: 56px;
    padding-bottom: 10px;
    width: fit-content;
    height: fit-content;

    >:not(:first-child){
        margin-left: 6px;
    }
    .speedBtn{
        font-size: 14px;
        width: fit-content;
        border-radius: 4px;
        height: 21px;
        padding: 2px 4px;
        font-weight: 400;
    }

    .cancelBtn{
        color:  #594AF1;
        border: 1px solid  #594AF1;
        background-color: white;
    }
}