.content {
    border-radius: 10px;

    padding: 16px 24px 16px 16px;
}

.info {
    background: rgba(89, 74, 241, 0.1);
    border: 0.5px solid rgba(89, 74, 241, 0.2);

    font-size: 14px;
    line-height: 17px;
    color: #594af1;
}