.addressBookContainer {
    padding: 10px 0px 0px;
    margin-bottom: 90px;
}

.emptyContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .emptyIcon {
        display: block;
    }
    .noAddressTip {
        font-size: 12px;
        line-height: 14px;
        color: rgba(0, 0, 0, 0.3);
        margin: 10px 0px 0px;
    }
}
.bottomContainer {
    position: absolute;
    padding: 12px 38px 20px;
    width: 100%;
    bottom: 0;
    background-color: white;
}

.addressContainer {
    flex: 1;

    .addressItemContainer {
        padding: 10px 20px;
        cursor: pointer;
        &:hover {
            background: rgba(0, 0, 0, 0.05);
        }
    }
    .addressName {
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        color: #000000;
        margin: 0px;
        word-break: break-all;
    }
    .addressValue {
        font-weight: 500;
        font-size: 14px;
        line-height: 100%;
        color: rgba(0, 0, 0, 0.3);
        margin: 4px 0px 0px;
        word-break: break-all;
    }

    .dividedLine {
        height: 0.5px;
        background-color: rgba(0, 0, 0, 0.1);
        margin: 10px 20px;
    }
}