@import "../../common.scss";
.address-book-container {
    padding: 0px 27px;
    margin-top: 10px;
    height: $app-height;
    padding-bottom: 100px;
    overflow: scroll;
}
.address-item-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;

    background: #ffffff;
    box-shadow: 0 12px 30px 0 rgba(37, 34, 117, 0.08);
    border-radius: 10px;
    padding: 12px 15px;
    position: relative;
}
.address-item-name {


    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;

    font-size: $font-size-content;
    font-weight: 500;
    color: #333333;
    line-height: 20px;
}
.address-item-address {
    word-wrap: break-word;

    font-size: $font-size-content;
    font-weight: 400;
    color: #666666;
    line-height: 20px;
}
.address-book-out-container {
    width: 100%;
    padding: 15px 27px 0px 27px;
    height: $app-height;
    padding-bottom: 100px;
    overflow: scroll;
}
.address-common-btn {
    height: 44px;
    width: 153px;
}

.address-text-area-input {
    width: 100%;
    resize: none;
    margin-top: 8px;
    min-height: 100px;

    padding: 10px 15px;

    font-size: $font-size-content;
    font-weight: 400;
    line-height: 20px;
    outline: none;

    border: 1px solid #cccccc;
    outline-color: rgba(109, 95, 254, 1);
    border-radius: 6px;
    caret-color: rgba(109, 95, 254, 1);
    color: #333333;

    &:focus {
        border: 2px solid #6d5ffe;
    }
}
.input-padding {
    padding: 0px 15px;
    .input-padding::placeholder {
        font-size: $font-size-content;
        font-weight: 400;
        color: #bfc7df;
        line-height: 21px;
    }
}

.address-item-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 6px;
}
.address-delete {
    width: $font-size-content;
}
.input-wrap-padding {
    padding: 2px 0px;
}
.account-change-name-container {
    width: $modal-width;
    margin: 0 auto;
    border-radius: 10px;
}
.account-change-name-title {
    font-size: $font-size-title-big-1;
    font-weight: 500;
    color: #090909;
}

.modal-common-btn {
    margin: 0px 0px;
    background: #6d5ffe;
    border-radius: 28px;

    font-size: 18px;
    color: #ffffff;
}
.modal-common-btn-cancel {
    color: #6d5ffe;
    border: 1px solid #6d5ffe;
    background-color: white;

    &:hover {
        background: transparent;
        border: 1px solid #4f3efd;
        color: #4f3efd;
    }
}
.address-info-btn-container {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 38px;
}
.address-input-con {
    margin-top: 10px;
}
