@import "../../common.scss";
.record-detail-container {
    overflow-y: scroll;
    height: 390px;
    padding-top: 10px;
}
.record-detail-item {
    margin-bottom: 13px;
}
.record-detail-title {
    margin: 0;
    font-size: $font-size-desc;
    color: #999999;
    letter-spacing: 0;
    line-height: 16px;
}
.record-detail-content {
    margin: 0;
    font-size: $font-size-desc;
    color: #333333;
    margin-top: 5px;
    word-break: break-all;
    text-align: left;
}
.record-arrow {
    width: 14px;
    height: 14px;
    margin-left: 5px;
}
.record-explorer-inner-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 10px 10px 0px;
}
.record-explorer-title {
    margin: 0px;
    font-size: $font-size-content;
    color: #6d5ffe;
    letter-spacing: 0;
    line-height: 16px;
}
.record-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 0 30px;
    // padding-bottom: 20px;
    // text-align: center;
}
.tx-common-title {
    font-size: $font-size-title;
    margin: 10px;
}
.tx-pending-title {
    color: #ffc633;
}
.tx-success-title {
    color: #38d79f;
}
.tx-failed-title {
    color: #e84335;
}
 