.container {
    padding: 10px 20px;
    overflow-y: auto;
    position: relative;
}

.dividedLine {
    border: 0.5px solid #f2f2f2;
    width: 100%;
    margin-top: 10px;
}

.rowContainer {
    margin-top: 8px;
    cursor: pointer;
    .rowTitle {
        font-size: 12px;
        line-height: 14px;
        color: rgba(0, 0, 0, 0.5);
        margin: 0;
    }
    .camelCase{
        text-transform:capitalize;
    }
    .scamTag{
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        color: #D65A5A;

        border: 1px solid #D65A5A;
        border-radius: 2px;
        margin-left: 4px;
    }
    .rowContent {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #000000;
        margin: 0;

        word-wrap: break-word;
    }
}

.explorerOuter{
    position: fixed;
    bottom: 0;
    width: calc(100% - 40px) ;
    max-width: calc(375px - 40px);
    background-color: white;
}
.explorerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    cursor: pointer;
    width: fit-content;
    .explorerTitle {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
        text-align: center;
        color: #594AF1;
        margin: 0px 6px 0px 0px;
    }
}