@import "../../common.scss";

.custom-container {
  height: 600px;
  margin-top: 0px;
  position: relative;
}
.custom-container-image {
  background-image: url("../../../assets/images/home_background.png");
  background-repeat: no-repeat;
}

.top-bar-container {
  display: flex;
  height: 50px;
  align-items: center;
  position: relative;
}
.back-img {
  width: 9px;
  height: 16px;
}
.back-img-hide {
  visibility: hidden;
}
.back-img-container {
  margin-left: 20px;
  padding: 5px 10px;
  height: 50px;
  display: flex;
  align-items: center;
}
.custom-header-title {
  margin: 0px 12%;
  font-size: $font-size-title;
  color: #000000;

  padding: 0 25px;
  position: absolute;
  text-align: center;
  width: 76%;
}
.custom-header-title-bg {
  color: rgba(255, 255, 255, 1);
}
.custom-right-container {
  padding: 5px 10px;
  height: 50px;
  display: flex;
  align-items: center;

  position: absolute;
  right: 0;
}
.custom-right-container-none {
  display: none;
}
