.rowContainer {
    display: flex;
    align-items: center;
    height: 48px;
    margin-top: 10px;
    padding: 0px 10px;
    position: relative;
    justify-content: space-between;
}
.backImgCon {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 30px;
    height: 30px;

    cursor: pointer;
    z-index: 1;
}
.title {
    margin: 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;

    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    white-space:nowrap;
}
.contentContainer {
    flex: 1;
    padding: 10px 20px 0px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.fullPageImg{
    position: absolute;
    top: 0px;
    left: 0px;
}
.receiveClass{
    margin-top: 0px;
    padding: 10px 10px 0px;
}
.receiveTitle{
    color: rgba(255, 255, 255, 1);
}

.rightIconContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}

.baseTipContainer{
    visibility: hidden;
    position: absolute;
    z-index: 1;
    top: 20px;
    right: 0;
    min-width: 56px;

    display: flex;
    align-items: flex-end;
    flex-direction: column;
    
    .baseTip {
        background: rgba(0, 0, 0, 0.8);
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
    
        color: #ffffff;
    
        text-align: center;
        padding: 6px 10px;
        border-radius: 6px;
    
       
        min-width: 56px;
        white-space:nowrap
    }
    .arrow {
        margin-right: 10px;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-bottom: 6px solid rgba(0, 0, 0, 0.8);;
    }
}
.rightIcon:hover + .baseTipContainer {
    visibility: visible;
}