@import "../../common.scss";
$selectWidth : 93px;

.netSelectCon {
    position: absolute;
    right: 10px;
    border-radius: 13px;
    border: 1px solid #ffffff;
    height: 26px;
    text-align: center;
    padding: 0px 10px;

    max-width: $selectWidth;
    overflow:hidden; 
    text-overflow:ellipsis; 
    white-space:nowrap; 
    text-align: center;
    .netSelectCon-name {
        color: #ffffff;
        font-size: 12px;
        line-height: 1.5;
    }
}
.sign-divided-line {
    height: 1px;
    background-color: #eeeeee;
    width: 100%;
    padding: 0px 30px;
}
.sign-page-container {
    padding: 0px 30px;

    .sign-info-con {
        padding: 10px 0;
        .signTitleName {
            font-size: 14px;
            color: #666666;
        }
        .sign-info-bottom-con {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .sign-info-bottom-con-content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 4px;
        }
        .sign-info-name {
            margin: 0;
            font-size: 16px;
            font-weight: bold;
            color: #333333;
        }
        .sign-info-name-desc {
            font-size: 14px;
            color: #b1b3bd;
            font-weight:normal;
        }
        .sign-info-name-fee {
            color: #cccccc;
            font-size: 14px;
            font-weight: bold;
        }
        .sign-info-name-content {
            margin: 0;
            font-size: 14px;
            color: #333333;
        }
        .sign-info-advanceMode {
            font-size: 14px;
            color: #6b5dfb;
        }
    }

    .sign-info-detail-con {
        margin-top: 10px;
        position: relative;
    }
    .sign-info-detail-title {
        font-size: 14px;
        color: #666666;
    }
    .sign-info-detail-content {
        margin-top: 10px;
        background: #f6f6f6;
        border-radius: 10px;
        border: 1px solid #e5e5e5;
        height: 150px;
        overflow: hidden;
        padding: 10px 10px;
    }

    .sign-info-detail-content-mini{
        height: 100px;
    }

    .sign-info-detail-content-all {
        overflow: scroll;
    }

    .sign-info-detail-txt {
        font-size: 14px;
        color: #333333;
        word-break: break-all;
    }
    .sign-info-detail-all {
        background: #f6f6f6;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        height: 20px;

        display: flex;
        align-items: center;
        justify-content: center;

        position: absolute;
        bottom: 1px;
        width: 100%;
    }
    .sign-info-detail-arrow {
        width: 8px;
        transform: rotate(270deg);
    }
}
.confirm-modal-btn-con {
    padding: 0 40px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 10px;
}
.sign-button-container {
    display: flex;
    align-items: center;

    position: absolute;
    bottom: 20px;
    width: 100%;
}
