.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;
    width: 100%;
    padding-top: 72px;
}
.backupTitle {
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    margin: 20px 0px;
}
.backupContent {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: var(--mediumBlack);
    margin: 0;
    padding: 0 20px;
}

.bottomCon {
    padding: 12px 38px 20px;
    width: 100%;
}