@import "../../common.scss";

.backup-success-container {
    padding: 0px 27px;
    margin-top: 10px;
}

.backup-top-container {
    text-align: center;
}
.backup-success-img {
    width: 71px;
    height: 71px;
}
.backup-success-title {
    font-size: $font-size-title;
    color: #38d79f;
}
.backup-success-dividedline {
    border: 1px solid #eeeeee;
}
.backup-success-tips {
    margin-top: 36px;
    font-size: $font-size-content;
    color: #333333;
    letter-spacing: 0;
}
