.container {
  padding: 10px 0px 0px;
  margin-bottom: 100px;
}
.contentContainer {
  padding: 0px 20px;
}
.inputContainer {
  > :not(:first-child) {
    margin-top: 20px;
  }
  .addressBook {
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;
    text-align: right;
    color: #594af1;
    cursor: pointer;
  }
  .balance {
    font-size: 12px;
    line-height: 17px;
    text-align: right;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400 !important;
  }
  .max {
    @extend .addressBook;
    padding-right: 12px;
  }
}

.feeContainer {
  margin: 20px 0;
}

.dividedLine {
  height: 0.5px;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  margin: 10px 0px;

  .dividedContent {
    margin: 0;
    color: transparent;
  }
}

.bottomContainer {
  padding: 12px 38px 20px;
  position: fixed;
  bottom: 0;
  width: calc(100%);
  background-color: white;
}

.hold {
  flex: 1;
}

.addressCon {
  position: relative;
  .iconAddressCon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    cursor: pointer;
  }
  .closeMode{
    position: fixed;
    top: 58px;
    right: 0;
    width: 375px;
    height: 100vh;
    z-index: 8;
  }
  .optionOuter {
    position: absolute;
    top: 34px;
    right: 0;
    width: calc(375px - 40px);
    min-height: 40px;
    z-index: 10;
  }
  .optionContainer {
    width: 100%;
    height: 100%;
    margin-top: 10px;

    max-height: 200px;
    overflow-y: scroll;
    padding: 4px 0px;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.05);
    background: #f9fafc;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  }

  ::-webkit-scrollbar {
    width: 5px;
    height: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
}
.emptyCon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9fafc;
  padding: 10px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  font-weight: 400;
}

.addressRowCon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f9fafc;
  padding: 10px;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  font-weight: 400;

  &:hover {
    background: #594af1;
    color: #fff;
  }

  .addressRowLeft {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .rowIconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 4px;
    width: 24px;
    height: 24px;
  }

  .addressName {
    font-size: 16px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.8);
    width: 140px;
    overflow:hidden; 
    text-overflow:ellipsis;
    white-space:nowrap; 
  }
}
.addressRowCon:hover .addressName {
  color: #fff;
}
