.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;
    // width: 100%;
    background-color: white;
}

.resetEntryOuter {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.resetEntryContainer {
    border: 1px solid var(--mediumGray);
    border-radius: 24px;

    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
    padding: 6px 12px;
    margin: 20px 10px 42px 0;

    cursor: pointer;
}

.welcomeBack {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: #000000;
    margin: 0;
}

.pwdInputContainer {
    width: 100%;
    padding: 40px 0px 0px;
}
.btnContainer {
    margin: 63px 18px 0px;
}
.bottomUrl {
    font-size: 12px;
    line-height: 18px;
    color: var(--nobelGray);
    text-align: center;
    margin: 12px auto 0px;
}

.rightBtn {
    color: var(--secondaryRed) !important;
}
