@import "../../common.scss";
.lock-container {
    padding-top: 20px;
    position: relative;
}

.lock-inner-container {
    background: #ffffff;
    box-shadow: 0 12px 30px 0 rgba(37, 34, 117, 0.08);
    border-radius: 10px;
    padding-top: 50px;
    padding-bottom: 75px;
}
.lock-content-container {
    padding: 0px 30px 20px 30px;
    margin-top: 40px;
    position: relative;
}
.lock-logo-container {
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;
    z-index: 1;
}

.lock-button-container {
    margin-top: 59px;
}
.lock-bottom {
    position: absolute;
    text-align: center;
    margin-left: 0px;
    width: 100%;
    bottom: 20px;
    margin: auto;
    left: 0;
    right: 0;
}
.lock-bottom {
    margin: 0;
    font-size: $font-size-desc;
    color: #b9b9b9;
}
.lock-home-logo {
    width: 75px;
    height: 75px;
}
.lock-welcome-content {
    margin: 0;
    font-size: $font-size-title-big;
    color: #666;
    text-align: center;
    margin-bottom: 30px;
}

.restore-bottom-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.restore-bottom {
    margin: 0;
    font-size: $font-size-content;
    color: #6D5FFE;

    padding: 4px;
    cursor: pointer;
}

.lock-info-btn-container {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 25px;
}

.lock-input {
    padding: 2px 0px;
}
.lock-input-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.account-common-btn {
    margin: 0 0;
}
