.ledgerCon {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 4px 8px;
    gap: 4px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    .statusDot {
        width: 8px;
        height: 8px;
        border-radius: 100%;
        background-color: #d65a5a;

        display: flex;
        align-items: center;
        justify-content: center;
    }
    .dotWin {
        background-color: #0db27c;
    }
    .miniDot {
        width: 6px;
        height: 6px;
        border-radius: 100%;
        background-color: #d65a5a;
    }
    .statusContent {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        display: flex;
        align-items: center;
        color: #000000;
    }
}
