@import "../../common.scss";

.ledger-connect-container {
    position: relative;
    flex-direction: column;
}
.ledger-steps-logo-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.ledger-wallet-logo {
    width: 157px;
}
.ledger-step-container{
    margin-top: 20px;
}
.ledger-item-container {
    display: flex;
    flex-direction: row;
    background: #ffffff;
    box-shadow: 0 12px 30px 0 rgba(37, 34, 117, 0.08);
    border-radius: 10px;
    padding: 15px 20px 6px 15px;
    position: relative;
    margin: 10px 28px 10px 28px;
}

.ledger-item-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    right: 15px;
    padding: 4px;
    top: 0px;
    bottom: 0px;
}
.ledger-step-title{
    color: #666;
    font-size: $font-size-title-small;
}
.ledger-step-content{
    color: #333;
    font-size: $font-size-title-small;
    line-height: $font-size-desc-small;
}