@import "../../common.scss";
.mne-show-container {
  padding: 0px 27px;
  margin-top: 10px;
  position: relative;
  flex-direction: column;
}

.mne-description {
  font-size: $font-size-content;
  color: #333333;
  letter-spacing: 0;
  margin: 0px;
  margin-bottom: 10px;
  hyphens: auto; 
}

.mne-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.mne-item {
  border-radius: 17px;
  padding: 9px 14px;
  margin: 5px 5px 5px 0;
  font-size: $font-size-content;
  line-height: $font-size-content;
}
.mne-item-common {
  background-color: rgba(2, 168, 255, 1);
  color: #ffffff;
}
