@import "../../../common.scss";
.node-container {
  background: #FFFFFF;
  box-shadow: 0 12px 30px 0 rgba(37,34,117,0.08);
  border-radius: 10px;
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  cursor: pointer;
  &:first-child {
    margin-top: 0;
  }
  .node-info {
    flex: 1;
  }
  .option-img{
    width: 16px;
    height: 16px;
  }

  .option-img-container{
    padding: 10px;
    line-height: 1;
    display: flex;
    align-items: center;
  }
  .pubkey {
    font-size: $font-size-desc;
    margin: 4px 0px;
  }
  .stake {
    font-size: $font-size-desc;
  }
  .pubkey,.stake {
    color: #999999;
    span {
      color: #333;
    }
  }
  .node-name{
    font-size: $font-size-content;
  }
}
