.search-input-con {
  width: 315px;
  height: 34px;
  margin: 10px auto 0px;
  border: 1px solid #CCCCCC;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  overflow: hidden;
  &.search-input-highlight {
    border-color: #7055FF;
  }
  .icon-con {
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    .search-icon {
      width: 18px;
      height: 18px;
    }
  }
  input {
    flex: 1;
    display: flex;
    align-items: center;
    outline: none;
    border: 0;
    font-family: Helvetica;
    font-size: 12px;
    padding-right: 10px;
  }
}
