.outerContainer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: end;
    flex-direction: column;
}

@keyframes openModal {
    from {
        bottom: -50%;
    }
    to {
        bottom: 0;
    }
}

.innerContent {
    background: #ffffff;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    width: 100%;

    position: absolute;
    bottom: 0;
    animation: openModal 0.35s;
    animation-fill-mode: forwards;
}

.titleRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
    padding: 8px 20px;

    .rowTitle {
        font-weight: 600;
        font-size: 16px;
        line-height: 16px;
        display: flex;
        align-items: center;
        color: #222222;
    }
    .rowClose {
        display: block;
        cursor: pointer;
    }
}

.dividedLine {
    width: 100%;
    height: 0.5px;
    background-color: #f2f2f2;
}

.ledgerTip{
    max-height: 400px !important;
    margin-bottom: 180px !important;
}
.bottomContent {
    padding: 0px 20px 0px;
    overflow-y: auto;
    background: #ffffff;
    max-height: 350px;
    margin-bottom: 100px;

    .highlightContainer {
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .highlightTitle {
        font-size: 12px;
        line-height: 17px;
        color: rgba(0, 0, 0, 0.5);
    }
    .highlightCon {
        display: flex;
        align-items: baseline;
        margin: 8px 0px 30px;
    }
    .highlightContent {
        font-size: 24px;
        line-height: 16px;
        display: flex;
        align-items: center;
        color: #000000;
        font-weight: 600;
    }
    .subHighlightContent {
        font-weight: 600;
        font-size: 16px;
        line-height: 16px;
        margin-left: 4px;
    }
}



.contentItemContainer {
    margin-bottom: 10px;
    .contentTitle {
        font-weight: 500;
        font-size: 12px;
        line-height: 17px;
        display: flex;
        align-items: center;
        color: rgba(0, 0, 0, 0.5);
    }
    .contentValue {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        color: #000000;
        margin: 4px 0px 0px;
        word-break: break-all;
    }
}

.ledgerContent {
    padding: 48px 20px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .waitingIcon {
        width: 58px;
    }
    .waitingTitle {
        font-size: 20px;
        line-height: 16px;
        color: #000000;
        margin: 30px 0 10px;
        font-weight: 700;
    }
    .waitingContent {
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: rgba(0, 0, 0, 0.5);
        margin: 0;
        font-weight: 500;
    }
    .waitingTip{
        @extend .waitingContent;
        color: #E4B200;
        margin: 20px 10px;
    }
    .accountRepeatName{
        font-weight: 700;
    }
}
.rightRow{
    display: flex;
    align-items: center;
}

.ledgerCon{
    background: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    padding: 4px 8px;
    gap: 4px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    .statusDot{
        width: 8px;
        height: 8px;
        border-radius: 100%;
        background-color:#D65A5A;
        

        display: flex;
        align-items: center;
        justify-content: center;
    }
    .dotWin{
        background-color: #0DB27C;
    }
    .miniDot{
        width: 6px;
        height: 6px;
        border-radius: 100%;
        background-color:#D65A5A;
    }
    .statusContent{
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        display: flex;
        align-items: center;
        color: #000000;
    }
}
.bottomContainer {
    padding: 12px 38px 20px;
    position: fixed;
    bottom: 0;
    width: calc(100%);
    background-color: white;

    animation: openModal 0.35s;
    animation-fill-mode: forwards;
}
.reminderContainer {
    animation: openModal 0.35s;
    animation-fill-mode: forwards;
    position: fixed;
    z-index: 2;
    margin: 0px 20px 90px;


    background: rgba(214, 90, 90, 0.1);
    border: 1px solid #d65a5a;
    border-radius: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #d65a5a;
    padding: 12px 10px;
  }
  .clickItem{
      color: #594AF1;
      cursor: pointer;
  }