$bottomBtnGroupHeight: 80px;

.customContainerClass {
    justify-content: space-between;
    padding-right: 20px;
}
.contentClassName {
    padding: 0px 0px 20px;
    margin-top: 10px;
    overflow-y: auto;
}
.contentContainer {
    padding: 0px 20px;
}
.rowCommonContainer {
    background: #f9fafc;
    border-radius: 12px;
    padding: 10px 20px 10px;
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
   
    .accountRow {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .accountRowLeft {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .accountName {
        font-size: 16px;
        font-weight: 600;
        color: rgba(0, 0, 0, 1);
        margin: 0;
    }
    .accountType {
        font-weight: 500;
        font-size: 12px;
        text-align: center;
        color: white;

        background: rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        margin-left: 4px;
        padding: 2px 4px;
    }
    .address {
        font-size: 12px;
        color: rgba(128, 128, 128, 1);
        margin: 2px 0px 0px;
    }
    .accountBalanceRow {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 8px;
    }
    .accountBalance {
        font-size: 12px;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.8);
        margin: 0;
    }
    .pointMenuContainer {
        display: flex;
        align-content: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        object-fit: scale-down;
        border-radius: 100%;
        cursor: pointer;
        &:hover {
            background: rgba(0, 0, 0, 0.05);
        }
    }
    .pointMenu {
        width: 13px;
    }
    .iconContainer {
        height: 30px;
        width: 30px;
        display: flex;
    }
}
.rowCanSelect {
    cursor: pointer;
    &:hover {
        border: 1px solid #594af1;
    }
}

.rowSelected {
    background: #594af1 !important;
    border: none;
}
.accountNameSelected {
    color: #ffffff !important;
}
.accountTypeSelected {
    color: white !important;
    background: rgba(255, 255, 255, 0.1) !important;
}
.addressSelected {
    color: rgba(255, 255, 255, 0.5) !important;
}
.accountBalanceSelected {
    color: #ffffff !important;
}

.rowNotSupport {
    background: rgba(214, 90, 90, 0.1);
    border: 0.5px solid #d65a5a;
}

.notSupportContainer {
    .notSupportTitle {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #000000;
        margin: 10px 0px;
    }
}

.lockBtn {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #594af1;
    margin: 0;
    cursor: pointer;
}
