.title {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    margin: 0;
}
.imTextAreaContainer {
    margin-top: 20px;
}

.desc {
    font-weight: 400;
    font-size: 12px;
    color: #808080;
    margin-top: 10px;
}
.hold {
    flex: 1;
}

.bottomContainer {
    padding: 12px 18px 20px;
}
