@import "../../common.scss";
.reminder-container {
    background: #ffffff;
    box-shadow: 0 12px 30px 0 rgba(37, 34, 117, 0.08);
    border-radius: 20px;
    margin: 60px 28px 0px;
    padding: 20px 20px;
}
.reminder-top-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.reminder-img {
    width: 20px;
    height: 20px;
}
.reminder-title {
    margin: 0px;
    font-size: $font-size-content;
    color: #333333;
    letter-spacing: 0;
    text-align: justify;
    line-height: $font-size-content;
    margin-left: 10px;
}
.reminder-content {
    margin: 0px;
    font-size: $font-size-desc;
    color: #666666;
    margin-top: 14px;
    hyphens: auto;
}
.wallet-home-logo {
    height: 30px;
}
.wallet-balance-container {
    display: flex;
    margin-top: 18px;
    align-items: flex-end;
}
.account-symbol {
    margin: 0;
    font-size: $font-size-title;
    color: #00000e;
    line-height: $font-size-title;
    margin-left: 4px;
}
.account-balance {
    margin: 0;
    font-size: $font-size-title-big;
    color: #1e1f20;
    letter-spacing: 0;
    line-height: $font-size-title-big;
}
.home-bottom-tip {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-bottom-explorer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 40px;
}
.history-img {
    width: 14px;
    height: 14px;
}
.history-content {
    margin: 0px;
    font-size: $font-size-content;
    color: #7055ff;
    margin-right: 4px;
}
.history-content-noTx { 
    margin: 0px;
    margin-left: 14px;
    font-size: $font-size-desc;
    color: #666666;
    margin-top: 14px;
    hyphens: auto;
}
.reminder-container-txHistory {
    min-height: 150px;
}

.home-bottom-loading {
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading-img {
    width: 30px;
    height: 30px;
}
.loading-text {
    margin: 0px;
    margin-left: 10px;
}
.wallet-top-container {
    padding: 30px 28px 30px 28px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wallet-top-background {
    background-image: url("../../../assets/images/home_background.png");
    height: 220px;
}

.wallet-info {
    background: #ffffff;
    box-shadow: 0 12px 30px 0 rgba(37, 34, 117, 0.08);
    border-radius: 20px;
    width: 319px;
    height: 190px;
    margin: 0px 28px 0px 28px;
    padding: 16px 20px;
    position: relative;
  }

  .wallet-currency-container {
    display: flex;
    margin-top: 10px;
    align-items: flex-end;
}
  .current-balance{
    font-size: $font-size-content;
    color: #666666;
    letter-spacing: 1px;
    margin: 0px;
    padding: 0px;
  }