.outerContainer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background: rgba(0, 0, 0, 0.8);
    width: 750px;
    height: 600px;

    display: flex;
    align-items: center;
}

.contentContainer {
    background: #ffffff;
    border-radius: 12px;
    margin: 0 60px;
    width: 100%;
    min-height: 350px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .tipTitle {
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        text-align: center;
        color: #000000;
        margin-bottom: 20px;
    }
    .tipContent {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
    }
    .redFont{
        color: #D65A5A;
        font-weight: 700;
    }
    .ledgerStep{
        @extend .tipTitle;
        font-size: 16px;
        margin: 40px 0;
    }
    .dividedLine{
        border: 0.5px solid rgba(0, 0, 0, 0.1);
        transform: rotate(0.18deg);
        margin: 30px auto 20px;
        width: 335px;
    }
    .ledgerLoading{
        margin: 0 auto;
    }
}