@import "../../common.scss";

$common-btn-width: 120px;

.common-button {
  border: none;
  display: flex;
  text-align: center;
  text-decoration: none;
  font-size: $font-size-title-small;
  height: 36px;
  border-radius: 27.5px;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  outline: none;

  padding: 0px 32px;
  color: #ffffff;
  letter-spacing: 0;
  line-height: $font-size-title-small;
}

.common-btn-disable {
  background: rgba(109, 95, 254, 0.6);
}

.common-btn-usable {
  background: rgba(109, 95, 254, 1);
  &:hover {
    background: #4f3efd;
  }
}

.common-cancel-btn {
  color: #6d5ffe;
  background-color: #ffffff;
  border: 1px solid #6d5ffe;
}
.modal-button-width {
  width: 130px;
  padding: 0px 0px;
}

.home-send-btn {
  width: $common-btn-width;
  background: #6b5dfb;
  padding: 0px 0px;
  margin-left: 0px;
  margin-right: 0px;
  &:hover {
    background: #4f3efd;
  }
}
.home-receive-btn {
  width: $common-btn-width;
  background: #00c89c;
  padding: 0px 0px;
  margin-left: 0px;
  margin-right: 0px;
  &:hover {
    background: #00af88;
  }
}

.welcome-create-button {
  justify-content: space-between;
  height: 55px;
  width: 315px;
  color: white;
  padding: 0 34px 0 24px;
  background: url(../../../assets/images/welcomeBtn.png);
  background-size: 100% 100%;
}
.welcome-restore-button {
  justify-content: space-between;
  height: 55px;
  width: 315px;
  margin-top: 30px;
  color: #6d5ffe;
  padding: 0 34px 0 24px;
  background: url(../../../assets/images/purpleBtnBorder.png);
  background-size: 100% 100%;
}
