.sectionSwitch {
    .titleRow {
        display: flex;
        align-items: center;
        height: 48px;
        margin-top: 10px;
        padding: 0px 20px;
        position: relative;
        justify-content: space-between;
    }
    .title { 
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
        color: #000000;
        margin: 0;
    }
    .netContainer {
        background: rgba(0, 0, 0, 0.10);
        border-radius: 16px;
        padding: 4px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        .dot {
            width: 6px;
            height: 6px;
            background: #594af1;
            margin-right: 4px;
            border-radius: 50%;
        }
        .netContent{
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            color: rgba(0, 0, 0, 0.5);
            margin: 0;
        }
    }
    .content {
        margin-top: 20px;
        padding: 0px 20px;
        .accountTip {
            font-size: 14px;
            line-height: 20px;
            color: rgba(0, 0, 0, 0.5);
            margin: 20px 0px 0px;
        }
        .accountAddress {
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #000000;
            margin: 20px 0px;
            word-break: break-all;
        }
        .warningTip {
            font-size: 14px;
            line-height: 20px;
            color: rgba(0, 0, 0, 0.3);
        }
        
    }
    .btnGroup {
        position: absolute;
        bottom: 0;
        justify-content: center;
        align-items: center;
        width: 100%;
        display: flex;

        gap: 15px;
        padding: 12px 0px 20px;
    }
    .mg-t20 {
        margin-top: 20px;
    }
    .accountRow {
        @extend .mg-t20;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }
    .rowTitle {
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        color: rgba(0, 0, 0, 0.5);
        margin: 0 0 4px 0 ;
    }
    .rowContent {
        font-weight: 500;
        font-size: 16px;
        color: #000000;
        margin: 0;
    }
    .rowArrow{
        height: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);

        display: flex;
        align-items: center;
        justify-content: center;
        
        img{
            width: 10px;
        }
    }
    .rightTitle {
        text-align: right;
        white-space: pre;
    }
}