.container {
    display: flex;
    align-items: center;
    padding: 12px 20px;

    background: #f9fafc;
    border: 0.5px solid rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    
    .iconContainer {
        width: 30px;
        object-fit: scale-down;
        display: block;
    }
    .url {
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        color: rgba(0, 0, 0, 0.5);
        margin: 0px 0px 0px 16px;

        word-break: break-all;

        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}