@import "../../common.scss";

.approve-top-con-row {
    display: flex;
    flex-direction: row;
}
.approve-top-icon-column {
    width: 56px;
}
.approve-page-icon-row {
    width: 32px;
}
.approve-top-con-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.approve-top-con {
    width: 100%;
    padding: 20px 30px;
    align-items: center;

    .approve-page-icon-con {
        background-color: rgba(236, 236, 240, 1);
        border-radius: 50%;
        padding: 4px;

        display: flex;
        align-items: center;
        justify-content: center;
    }
    .approve-page-url {
        margin: 0;
        padding-top: 14px;
        font-size: 14px;
        color: #666666;
        word-break: break-all;
    }

    .approve-page-url-row {
        margin: 0;
        padding-left: 14px;
        font-size: 14px;
        color: #666666;
        word-break: break-all;
    }
    .approve-page-url-con {
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .baseUrlDesc {
        margin: 0;
        font-size: 14px;
        color: #666666;

        overflow : hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    .baseTip {
        visibility: hidden;
        background-color: black;
        color: #fff;
        text-align: center;
        padding: 5px 5px;
        border-radius: 6px;
        position: absolute;
        z-index: 100;
        min-width: 70px;
        word-break: break-all;
    }
    .approve-page-url-con .tooltiptext {
        margin-top: 80px;
    }
    .approve-page-url-con:hover .tooltiptext {
        visibility: visible;
    }
}
