.toast-container {
    margin: 0;
    padding: 0;
}

.mask {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.1);
    z-index: 200;
}

.toast-wrap {
    position: fixed;
    top: 40%;
    margin: 0 auto;
    left: 0;
    right: 0;
    max-width: 80%;
    z-index: 300;
    width: fit-content;
}
