.toast-item {
    padding: 8px 10px;
    background: rgba(0, 0, 0, 1);
    color: #fff;
    border-radius: 10px;
    margin-top: 10px;
    text-align: center;
}
.toast-item-hide {
    display: none;
}
