@import "../../common.scss";
.page-content {
  background-color: #ffffff;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 550px;
}
.staking-transfer-root {
  position: relative;
  flex: 1;
  .transfer-form-con {
    padding: 0 0;
  }
  .select-node-con {
    padding: 0 30px;
  }
  .provider-title {
    font-family: HelveticaNeue;
    font-size: $font-size-content;
    color: #666666;
    letter-spacing: 0;
    line-height: 16px;
  }
  .selected-value {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 42px;
    border: 1px solid #cccccc;
    border-radius: 6px;
    padding: 0px 10px;
    justify-content: space-between;
    cursor: pointer;
    margin:10px 0 6px;

    .selected-value-text {
      font-family: HelveticaNeue-Medium;
      font-size: $font-size-content;
      color: #333333;
      padding: 10px 0;
    }
    .arrow-con {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      img {
        width: 6px;
      }
    }
  }
  .memo-con {
    margin-top: 15px;
  }
  .memo-title {
    font-family: HelveticaNeue;
    font-size: $font-size-content;
    color: #666666;
    letter-spacing: 0;
    line-height: 16px;
    margin-bottom: 14px;
  }
  .slider-container {
    padding: 0;
    margin-top: 15px;
  }
  .input-con {
    border-bottom: 1px solid #eeeeee;
  }
  .memo-input {
    border: 0;
    width: 100%;
    line-height: 20px;
    outline: none;
  }
}
