.container {
}
.inputCon {
    display: flex;
    align-items: center;
    position: relative;

    height: 44px;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    &:hover {
        border: 0.5px solid #594af1;
    }
}
.input {
    background: none;
    outline: none;
    background: #ffffff;
    border: none;
    padding: 0 12px;

    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #00142a;
    flex: 1;
    caret-color: #594af1;
    height: 100%;
    border-radius:6px ;
    width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.member-form,.rpo-form input[type="number"] {
  -moz-appearance: textfield;
}
input::-webkit-input-placeholder {
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.3);
    letter-spacing: normal;
}

.inputCon:focus-within {
    border: 0.5px solid #594af1;
}
input[type="text"] {
    letter-spacing: normal;
    font-family: caption;
}

.label {
    font-weight: 600;
    font-size: 12px;
    line-height: 17px;

    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.85);

    margin-bottom: 4px;

    justify-content: space-between;

    white-space: pre;
}

.imgContainer {
    display: flex;
    margin-right: 12px;
    width: 30px;
    cursor: pointer;
}

.bottomTipCon {
    margin-top: 4px;
}
.labelContainer {
    display: flex;
    align-items: center;
    .subLabel {
        background: rgba(0, 0, 0, 0.1);
        border-radius: 2px;

        font-weight: 500;
        font-size: 12px;
        line-height: 17px;
        color: rgba(0, 0, 0, 0.5);
        margin-left: 8px;
        padding: 0px 4px;

        max-width: 200px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.search {
    margin-left: 10px;
    width: 26px;
    object-fit: scale-down;
    display: block;
}

.boldLabel{
    font-weight: 700 !important;
}