@import "../../../common.scss";

.empty-delegate {
  .empty-title {
    // font-family: HelveticaNeue-Medium;
    font-size: $font-size-content;
    color: #333333;
    letter-spacing: 0;
    line-height: $font-size-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
  }
  p.empty-desc {
    font-family: HelveticaNeue;
    font-size: $font-size-desc-small;
    color: #333333;
    letter-spacing: 0;
    text-align: justify;
    line-height: 14px;
    margin-top: 1em;
    margin-bottom: 0;
  }
  .empty-reminder-img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
}
