@import "../../../common.scss";

.empty-delegate {
  .empty-title {
    // font-family: HelveticaNeue-Medium;
    font-size: $font-size-content;
    color: #333333;
    letter-spacing: 0;
    line-height: $font-size-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .empty-desc {
    letter-spacing: 0;
    text-align: left;
    
    line-height: 16px;
    margin-top: 1em;
    margin-bottom: 0;
    hyphens: auto; 
    font-size: $font-size-desc;
    color: #666666;
  }
  .empty-reminder-img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  .tips-spical{
    color: #7055FF;
    cursor: pointer;
  }
}
