@import "../../common.scss";
.account-name-container {
    margin-top: $page-margin-top;
}
.ledger-path-container{
    margin-top: 20px;
    font-size: 14px;
    color: #666666;
}
.ledger-derived-path{
    margin: 13px 0 0 30px;
}
.ledger-derived-input{
    margin-top: 18px;
    input{
        width: 47px;
        border: 1px solid #666666;
        border-radius: 6px;
    }
}