.sectionSign {
    height: 100vh;
    .titleRow {
        display: flex;
        align-items: center;
        height: 48px;
        margin-top: 10px;
        padding: 0px 20px;
        position: relative;
        justify-content: space-between;
    }
    .titleRight{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .title {
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
        color: #000000;
        margin: 0;
    }
    .netContainer {
        background: rgba(0, 0, 0, 0.1);
        border-radius: 16px;
        padding: 4px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        .dot {
            width: 6px;
            height: 6px;
            background: #594af1;
            margin-right: 4px;
            border-radius: 50%;
        }
        .netContent {
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            color: rgba(0, 0, 0, 0.5);
            margin: 0;
        }
    }
    .mg-t20 {
        margin-top: 20px;
    }
    .multiContentWrapper{
        height: calc(100vh - 250px) !important;
    }
    .content {
        @extend .mg-t20;
        padding: 0px 20px;
        height: calc(100vh - 170px);
        overflow-y: auto;

        .accountTip {
            font-size: 14px;
            line-height: 20px;
            color: rgba(0, 0, 0, 0.5);
            margin: 20px 0px 0px;
        }
        .accountAddress {
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #000000;
            margin: 8px 0px 0px;
            word-break: break-all;
        }
        .warningTip {
            font-size: 14px;
            line-height: 20px;
            color: rgba(0, 0, 0, 0.3);
            margin: 20px 0px 0px;
        }
        .accountRow {
            @extend .mg-t20;
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: relative;
        }
        .accountRowTab {
            @extend .accountRow;
            margin-top: 0px;
        }
        .rowTitle {
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            color: rgba(0, 0, 0, 0.5);
            margin: 0 0 4px 0;
        }
        .rowContent {
            font-weight: 500;
            font-size: 16px;
            color: #000000;
            margin: 0;
            align-content: center;
        }
        .rowDescContent {
            font-size: 12px;
        }
        .copyCss {
            cursor: pointer;
        }
        .rightTitle {
            text-align: right;
            white-space: pre;
        }
        .feeCon {
            display: flex;
            align-items: center;
        }
        .feeTypeBase {
            background: rgba(0, 0, 0, 0.1);
            border-radius: 3px;
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            color: rgba(0, 0, 0, 0.3);
            padding: 2px 6px;
        }
        .feeTypeDefault {
            @extend .feeTypeBase;
            background: rgba(0, 0, 0, 0.1);
            color: rgba(0, 0, 0, 0.3);
            height: fit-content;
            text-align: center
        }
        .feeTypeSite {
            @extend .feeTypeBase;
            background: rgba(13, 178, 124, 0.1);
            color: #0db27c;
            height: fit-content;
        }
        .feeContent {
            margin-right: 4px;
        }
        .rowArrow {
            height: 100%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 10px;
            }
        }

        .rightWrapper {
            display: flex;
            justify-content: flex-end;
        }
        .typeRow {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 15px;
            padding: 2px 6px;
            border-radius: 8px;
            margin-right: 4px;
            border: 1px solid #594af1;

            color: #594af1;
            font-size: 10px;
            font-weight: 500;
        }
        .modeWrapper {
            display: flex;
            justify-content: flex-end;
            height: auto;
            align-items: stretch;
        }
        .rowPurpleContent {
            font-weight: 600;
            font-size: 14px;
            text-align: center;
            color: #594af1;
            cursor: pointer;
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
    .btnGroup {
        position: absolute;
        bottom: 0;
        justify-content: center;
        align-items: center;
        width: 100%;
        display: flex;

        gap: 15px;
        padding: 12px 0px 20px;
        max-width: 375px;
    }
    // }
    .tabContent {
        font-size: 12px;
        border-radius: 4px;
        border: 0.5px solid rgba(0, 0, 0, 0.1);
        padding: 10px;
        color: rgba(0, 0, 0, 0.8);
        margin: 0;
        overflow-y: auto;
        width: 100%;
        overflow-wrap: break-word;
        white-space: pre-wrap;
    }
    .tabContentV2 {
        @extend .tabContent;
    }
    .tabContentPresentation{
        @extend .tabContent;
        pre{
            margin: 0;
        }
    }
    .highFeeTip {
        font-weight: 500;
        font-size: 12px;
        line-height: 17px;
        color: #e4b200;
    }
    .clickCss {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #594af1;
        cursor: pointer;
        height: min-content;
    }

    .multiBottomBtn {
        bottom: 40px !important;
    }

    .rowData {
        color: rgba(0, 0, 0, 0.5);
        font-size: 12px;
        font-weight: 500;
        cursor: pointer;
        padding: 4px 0 4px 4px;
    }
    .scrollBtn {
        position: absolute;
        bottom: 5px;
        right: 5px;
        cursor: pointer;
    }
}
.customBtnCss {
    font-size: 12px !important;
}

.customTabPanelCss {
    position: relative;
}