.container{
    padding: 10px 0px 0px;
}
.contentContainer {
    margin-top: 10px;
}

.baseTitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: #000000;
}
.baseDesc {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.3);
    word-wrap: break-word;
}

.rowAddress {
    height: 74px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
    padding: 0 20px;
    cursor: pointer;
    .rowAddressTitle {
        @extend .baseTitle;
        margin: 0px 0px 4px;
    }
    .rowAddressContent {
        @extend .baseDesc;
        
    }
}
.rowInfoContainer {
    margin-top: 11.5px;
}

.rowContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    padding: 0 20px;
   
}
.clickRow{
    cursor: pointer;
    &:hover{
        background: rgba(0, 0, 0, 0.05);
    }
}
.rowTitle {
    @extend .baseTitle;
}
.rowDesc {
    @extend .baseDesc;
    margin: 4px 0px 0px;
}

.deleteRow {
    height: 54px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.deleteTitle {
    color: #d65a5a;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.dividedLine {
    background-color: rgba(0, 0, 0, 0.1);
    margin: 10px 0;
    width: 100%;
    height: 0.5px;
    padding: 0 20px;
}
.waringTip {
    color: rgba(228, 178, 0, 1);
}